---
template: 'logstash-*'
order: 1
mappings:
  logs:
    properties:
      application:
        type: 'string'
        index: 'not_analyzed'
      pid:
        type: 'string'
        index: 'not_analyzed'
      severity:
        type: 'string'
        index: 'not_analyzed'
      facility:
        type: 'string'
        index: 'not_analyzed'